html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: 'IBM Plex Mono', ui-monospace, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}


/*Swagger */
.swagger-ui .scheme-container {
  background: transparent !important;
}

.swagger-ui .schemes-server-container * {
  background: transparent !important;
}